<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}amogus sussus{% endblock %}</title>
    <!-- Подключение CSS через Django static -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
</head>

<body>
    <!-- Контейнер с фоном -->
    <div class="background-container">
        <div class="container">
            <!-- Включение навбара -->
            {% include 'pages/navbar.html' %}

            <!-- Основное содержимое -->
            <img src="{% static 'pages/images/scroll.png' %}" alt="Scroll Image"
                class="scroll-image crisp unselectable">
            <div class="scroll-content">
                <div class="title-text">
                    <!-- шаблон содержимого -->
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>