{% extends 'pages/base.html' %}

{% block title %}Список персонажей{% endblock %}

{% block content %}
<div style="text-align: center;">
</div>
<div class="scrolling-container" style="display: grid; align-items: center; max-height: 560px; overflow-y: scroll; align-self: center; justify-self: center; width: 1000px;">
    {% if characters %}
        {% for character in characters %}
            {% include 'pages/char_list_elem.html' with character=character %}
        {% endfor %}
    {% else %}
        <p>У вас пока нет персонажей!</p>
        <a href="{% url 'form' %}">Создайте нового персонажа</a>
    {% endif %}
</div>
{% endblock %}