<div class="char-list-container">
    <table>
        <tr>
            <td rowspan="2" style="width: 100px;">
                <div class="char-list-preview-pic-cont">
                    {% if character.photo_url %}
                        <img src="{{ character.photo_url }}" alt="Char" class="char-list-preview-pic">
                    {% else %}
                        <p>Фото отсутствует</p>
                    {% endif %}
                </div>
            </td>
            <td>
                <a class="char-list-big-text">{{ character.name }}</a>
            </td>
            <td></td>
            <td class="justify-right">
                <a href="#" class="char-list-edit-text">Редактировать</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="char-list-small-text">{{ character.race }}</a>
            </td>
            <td></td>
            <td class="justify-right">
                <a href="#" class="char-list-edit-text">Удалить</a>
            </td>
        </tr>
    </table>
</div>