{% extends 'pages/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}

<a class=".title-text">Список персонажей</a><br>
<!-- Тут каждый персонаж списком шаблонов char_list_elem -->
<div class="char-list-container">
    <table>
        <tr>
            <td rowspan="2" style="width: 100px;">
                <div class="char-list-preview-pic-cont"><img src="{% static 'pages/images/Mouse_spider.png' %}"
                        alt="Char" class="char-list-preview-pic"></div>
            </td>
            <td>
                <a class="char-list-big-text">Имя персонажа</a>
            </td>
            <td></td>
            <td class="justify-right"><a class="char-list-edit-text">Редактировать</a></td>
        </tr>
        <tr>
            <td>
                <a class="char-list-small-text">Прочая информация</a>
            </td>
            <td></td>
            <td class="justify-right"><a class="char-list-edit-text">Удалить</a></td>
        </tr>
    </table>
</div>

{% endblock %}