{% extends 'pages/base.html' %}

{% block title %}Form Page - amogus sussus{% endblock %}

{% block content %}
    <a>Шаг 123141</a>
    <div>
        <a>На этом шагу вы должны бла-бла-бла</a>
    </div>
    <div class="things">
        <form action="">
            <input type="text" id="fname" name="fname" value="Имя"><br>
            <select>
                <option value="option1">Раса1</option>
                <option value="option2">Класс232</option>
                <option value="option3">Еще опции</option>
            </select><br>
            <input type="submit" value="Отправить">
        </form>
    </div>
    <div>
        <a>Описание текущего выбора или что-то типа того</a>
    </div>
{% endblock %}

<!--новый-->