<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Background with Menu</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="top">
            <nav>
                <ul>
                    <li><a href="#">Menu 1</a>
                    </li>
                    <li><a href="#">Menu 2</a>
                    </li>
                    <li><a href="#">Menu 3</a>
                    </li>
                    <li><a href="#">Menu 4</a>
                    </li>
                </ul>
            </nav>
        </div>
        <img src="scroll.png" alt="Background Image" class="scroll-image crisp unselectable">
        <div class="scroll-content">
            <a> 
                Lorem Ipsum
                “Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit…” ~
                “There is no one who loves pain itself, who seeks after it and wants to have it, simply because
                it is pain…”
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                vestibulum et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur
                maximus est sed porta scelerisque. Sed suscipit, arcu volutpat feugiat posuere, eros nisi
                tristique nibh, mollis vehicula lectus tortor eu purus. Donec ut tortor blandit, sagittis diam
                eget, suscipit eros. Quisque at magna neque. Nulla faucibus mi at nunc mattis placerat.
                Pellentesque quis augue quis elit tristique auctor. Integer varius est orci, vel egestas felis
                dictum nec. Phasellus porta ex sit amet turpis finibus, sed vestibulum nisl efficitur. Praesent
                ultrices diam enim. In ut tellus sed sem placerat sollicitudin. Donec quis mollis dolor. Etiam
                viverra, arcu cursus porttitor porttitor, diam nunc auctor nisl, quis placerat magna erat et
                odio. Phasellus feugiat turpis quis mollis lacinia. Sed ac orci et nisi venenatis pharetra ac
                non arcu.
            </a>
            <a>
                Lorem Ipsum
                “Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit…” ~
                “There is no one who loves pain itself, who seeks after it and wants to have it, simply because
                it is pain…”
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare
                vestibulum et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. Curabitur
                maximus est sed porta scelerisque. Sed suscipit, arcu volutpat feugiat posuere, eros nisi
                tristique nibh, mollis vehicula lectus tortor eu purus. Donec ut tortor blandit, sagittis diam
                eget, suscipit eros. Quisque at magna neque. Nulla faucibus mi at nunc mattis placerat.
                Pellentesque quis augue quis elit tristique auctor. Integer varius est orci, vel egestas felis
                dictum nec. Phasellus porta ex sit amet turpis finibus, sed vestibulum nisl efficitur. Praesent
                ultrices diam enim. In ut tellus sed sem placerat sollicitudin. Donec quis mollis dolor. Etiam
                viverra, arcu cursus porttitor porttitor, diam nunc auctor nisl, quis placerat magna erat et
                odio. Phasellus feugiat turpis quis mollis lacinia. Sed ac orci et nisi venenatis pharetra ac
                non arcu.
            </a>
        </div>
    </div>
</body>

</html>