<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Background with Menu</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="top">
            <nav>
                <ul>
                    <li><a href="#">Главная</a>
                    </li>
                    <li><a href="#">Просмотр</a>
                    </li>
                    <li><a href="#">Новый</a>
                    </li>
                </ul>
            </nav>
        </div>
        <img src="scroll.png" alt="Background Image" class="scroll-image crisp unselectable">
        <div class="scroll-content">
            <div class="title-text">
                <a>Шаг 123141</a>
            </div>
            <a>На этом шагу вы должны бла-бла-бла</a>
            <div class="things">
            <form action="">
                <input type="text" id="fname" name="fname" value="Имя"><br>
                <select>
                    <option value="option1">Раса1</option>
                    <option value="option2">Класс232</option>
                    <option value="option3">Еще опции</option>
                </select><br>
                <input type="submit" value="Отправить">
            </form>
        </div>
            <div>
                <a>Описание текущего выбора или что-то типа того</a>
            </div>
        </div>
    </div>
</body>

</html>