{% extends 'pages/base.html' %}

{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<a>Авторизация</a>
<div class="things">
    {% if user.is_authenticated %}
        <!-- Если пользователь авторизован, показываем кнопку "Выйти" -->
        <input type="text" id="username" name="username" placeholder="Логин" value="{{ user.username }}" disabled><br>
        <input type="password" id="password" name="password" placeholder="Пароль" value="*****" disabled><br>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}  <!-- CSRF-токен для безопасности -->
            <input type="submit" value="Выйти" class="btn btn-danger">
        </form>
    {% else %}
        <!-- Если пользователь не авторизован, показываем форму входа -->
        <form id="loginForm" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Логин"><br>
            <input type="password" id="password" name="password" placeholder="Пароль"><br>
            <input type="submit" value="Войти">
        </form>
        
        <!-- Сообщение об ошибке для пустых полей -->
        <div id="empty-fields-error" style="color: red; display: none;">Пожалуйста, заполните все поля.</div>
        
        <!-- Сообщение об ошибке для неправильного логина или пароля -->
        {% if messages %}
            {% for message in messages %}
                <div id="login-error" style="color: red;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
<div>
    <li><a href="{% url 'register' %}" class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}">Регистрация</a></li>
</div>

<!-- Подключаем внешний JavaScript-файл -->
<script src="{% static 'pages/js/login.js' %}"></script>
{% endblock %}