{% extends 'pages/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<a>Вход</a>
<div class="things">
    <form action="">
        <input type="text" id="first" name="first" value="login"><br>
        <input type="password" id="password" name="password" value="password"><br>
        <input type="submit" value="Отправить">
    </form>
</div>
<div>
    <li><a href="{% url 'register' %}" class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}">Регистрация</a></li>
</div>
{% endblock %}

<!--логин-->