{% extends 'pages/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
{% load static %}
<div class="char-sheet">
    <a>Редактор листа персонажа онлайн</a>

    <img src="{% static 'pages/images/dnd.png' %}" alt="Dungeons And Dragons" class="crisp unselectable just-image">

    <a class="centered">Смотрите так-же: </a>
    <a href="dnd.su" class="centered">DND.SU</a>

    {% if user.is_authenticated %}
    <p class="char-list-big-text centered">Добро пожаловать, {{ user.username }}!</p>
    {% else %}
    <p class="char-list-big-text centered">Вы не вошли в систему.</p>
    {% endif %}
</div>
{% endblock %}