{% extends 'pages/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<a>Регистрация</a>
<div class="things">
    <form action="">
        <input type="text" id="first" name="first" value="login"><br>
        <input type="password" id="password" name="password" value="password"><br>
        <input type="mail" id="mail" name="mail" value="example@mail.com"><br>
        <input type="submit" value="Отправить">
    </form>
</div>
<div>
    <a><a href="#">Создать аккаунт</a></a>
</div>
{% endblock %}