{% extends 'pages/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<a>Регистрация</a>
<div class="things">
    <form action="">
        <input type="text" id="first" name="first" placeholder="Логин"><br>
        <input type="password" id="password" name="password" placeholder="Пароль"><br>
        <input type="email" id="mail" name="mail" placeholder="example@mail.com"><br>
        <input type="submit" value="Отправить">
    </form>
</div>
<div>
    <li><a href="{% url 'login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">Авторизация</a></li>
</div>
{% endblock %}

<!--регистрация-->