{% extends 'pages/base.html' %}

{% block title %}Редактирование{% endblock %}

{% block content %}
<div class="char-sheet">
    <form action="" method="post" class="char-sheet-element" enctype="multipart/form-data">
        {% csrf_token %}
        <table class=""
            style="display: grid; align-items: center; max-height: 560px; overflow-y: scroll; align-self: center; justify-self: center; width: auto;">
            
            <!-- Имя и уровень -->
            <tr>
                <td><input type="text" id="fname" name="name" placeholder="Имя" value="{{ character.name }}" class="char-sheet-element long-thing" disabled>
                    <input type="hidden" name="name" value="{{ character.name }}"></td>
                <td><input id="level" type="number" name="level" value="{{ character.level }}" style="width: auto;" min="1" max="20"
                        class="char-sheet-element"></td>
                <td>Уровень</td>
            </tr>

            <!-- Раса -->
            <tr>
                <td>
                    <select class="char-sheet-element" name="race">
                        <option value="Человек" {% if character.race == "Человек" %}selected{% endif %}>Человек</option>
                        <option value="Полу-эльф" {% if character.race == "Полу-эльф" %}selected{% endif %}>Полу-эльф</option>
                        <option value="Полу-орк" {% if character.race == "Полу-орк" %}selected{% endif %}>Полу-орк</option>
                        <option value="Драконорожденный" {% if character.race == "Драконорожденный" %}selected{% endif %}>Драконорожденный</option>
                        <option value="Эльф" {% if character.race == "Эльф" %}selected{% endif %}>Эльф</option>
                        <option value="Дварф" {% if character.race == "Дварф" %}selected{% endif %}>Дварф</option>
                    </select>
                </td>
                <td colspan="2"></td>
            </tr>

            <!-- Класс -->
            <tr>
                <td>
                    <select class="char-sheet-element" name="character_class">
                        <option value="Воин" {% if character.character_class == "Воин" %}selected{% endif %}>Воин</option>
                        <option value="Чародей" {% if character.character_class == "Чародей" %}selected{% endif %}>Чародей</option>
                        <option value="Бард" {% if character.character_class == "Бард" %}selected{% endif %}>Бард</option>
                    </select>
                </td>
                <td colspan="2"></td>
            </tr>

            <!-- Характеристики -->
            <tr>
                <td colspan="3">
                    <table class="actual-table">
                        <tr>
                            <td>СИЛ</td>
                            <td>ЛОВ</td>
                            <td>ТЕЛ</td>
                            <td>ИНТ</td>
                            <td>МДР</td>
                            <td>ХАР</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="str" type="number" name="strength" value="{{ character.strength }}" style="width: auto;" min="1" max="20"
                                    class="char-sheet-stat-num char-sheet-element">
                            </td>
                            <td>
                                <input id="dex" type="number" name="dexterity" value="{{ character.dexterity }}" style="width: auto;" min="1" max="20"
                                class="char-sheet-stat-num char-sheet-element">
                            </td>
                            <td>
                                <input id="con" type="number" name="constitution" value="{{ character.constitution }}" style="width: auto;" min="1" max="20"
                                class="char-sheet-stat-num char-sheet-element">
                            </td>
                            <td>
                                <input id="int" type="number" name="intelligence" value="{{ character.intelligence }}" style="width: auto;" min="1" max="20"
                                class="char-sheet-stat-num char-sheet-element">
                            </td>
                            <td>
                                <input id="wis" type="number" name="wisdom" value="{{ character.wisdom }}" style="width: auto;" min="1" max="20"
                                class="char-sheet-stat-num char-sheet-element">
                            </td>
                            <td>
                                <input id="cha" type="number" name="charisma" value="{{ character.charisma }}" style="width: auto;" min="1" max="20"
                                class="char-sheet-stat-num char-sheet-element">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- Предметы -->
            <tr>
                <td colspan="3">
                    Предметы
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <!--<input type="text" id="items" name="items" placeholder="Предметы" value="{{ character.items }}"
                        class="char-sheet-element beefy-input">-->
                        <textarea type="text" id="items" name="items" placeholder="Предметы" class="char-sheet-element beefy-input actual-table">{{ character.items }}</textarea>
                </td>
            </tr>

            <!-- Описание -->
            <tr>
                <td colspan="3">
                    Описание
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <!--<input contenteditable="true" type="text" id="description" name="description" placeholder="Описание" value="{{ character.description }}"
                        class="char-sheet-element beefy-input">-->
                        <textarea type="text" id="description" name="description" placeholder="Описание" class="char-sheet-element beefy-input actual-table">{{ character.description }}</textarea>
                </td>
            </tr>
            
            <!-- Поле для загрузки фотографии -->
            <tr>
                <td colspan="3">
                    <label for="photo_url">Фото персонажа:</label>
                    <input type="file" id="photo_url" name="photo_url" class="char-sheet-element">
                </td>
            </tr>
            
            <!-- Отображение текущей фотографии -->
            <tr>
                <td colspan="3">
                    {% if character.photo_url %}
                        <img src="{{ character.photo_url }}" alt="Фото персонажа" style="max-width: 200px; max-height: 200px;">
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td colspan="3" style="text-align: center;">
                    Общий доступ
                    <input type="checkbox" id="public" name="public" value="public">
                </td>
            </tr>

            <!-- Кнопка Сохранить -->
            <tr>
                <td colspan="3" style="text-align: center;">
                    <input type="submit" value="Сохранить" class="char-sheet-element">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}